<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title"><%= user.name %></h2>
  </div>
  <div class="panel-body">
  </div>
  <table class="table">
    <tr><td class="col-md-5">Total:</td><td><%= stat[:total_steps] %></td></tr>
    <tr><td class="col-md-5">Today:</td><td><%= stat[:day_steps] %></td></tr>
    <tr><td class="col-md-5">This month:</td><td><%= stat[:month_steps] %></td></tr>
    <tr><td class="col-md-5">This week:</td><td><%= stat[:year_steps] %></td></tr>
  </table>
</div>
