<h1 class="title">Steps Tracker</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= render 'user_stat', stat: @stats[user.id], user: user %>
    </div>
  <% end %>
</div>

